@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');
@font-face {
  font-family: 'VitrinesW00-Bold';
  src: url('./assets/fonts/Vitrines\ W00\ Bold.ttf');
}
@font-face {
  font-family: 'Sheldon';
  src: url('./assets/fonts/Sheldon.ttf');
}

.sheldon {
  font-family: 'Sheldon', system-ui, -apple-system;
  font-size: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-weight: 500;
}

body {
  background-color: #fff7ed;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
  font-family: 'Sheldon', system-ui, -apple-system;
}

.back {
  text-decoration: underline;
  font-family: 'inter';
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  width: fit-content;
}

.logo {
  h3 {
    font-weight: 900;
  }
}

.section {
  height: 80vh;
}

.home-content {
  height: 100%;
  padding: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./assets/camper.jpg') no-repeat center / cover;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  color: #fff;
}

.home-intro {
  font-weight: 800;
  font-size: 2.25em;
}

.home-desc {
  margin-top: 23px;
  margin-bottom: 52px;
}

.button {
  background-color: #ff8c38;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 1.5em;
  transition: all 0.4s;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  user-select: none;
  // font-weight: 700;
}

.button:hover {
  background-color: #161616;
}

.button:active {
  scale: 97%;
  background-color: #115e59;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 26px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff7ed;
}

.nav-links {
  display: flex;
  gap: 10px;

  a:hover {
    text-decoration: underline;
  }
}

.about-img img {
  width: 100%;
}

.about-content {
  margin-block: 50px;
  padding-inline: 20px;

  h3 {
    font-weight: 700;
    font-size: 2em;
    line-height: 38px;
    margin-bottom: 32px;
  }
}

.explore-card {
  width: 100%;
  background-color: #ffcc8d;
  margin-top: 55px;
  padding: 32px 37px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  p {
    font-weight: 700;
    font-size: 1.25em;
  }
}

.vans-section {
  padding: 20px;
}

.category {
  display: flex;
  flex-direction: column;
  // align-items: center;
  h3 {
    font-size: 2em;
    font-weight: 700;
    margin-block: 25px;
  }
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    li {
      background-color: #ffead0;
      // padding: 6px 25px;
      padding: 6px 12px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s;
      user-select: none;
    }
    .simple:hover {
      background-color: #e17654;
      color: #ffead0;
    }
    .luxury:hover {
      background-color: #161616;
      color: #ffead0;
    }
    .rugged:hover {
      background-color: #115e59;
      color: #ffead0;
    }
  }
  small {
    text-decoration: underline;
    margin-bottom: 6px;
    align-self: flex-end;
    cursor: pointer;
  }
}

// .simple, .rugged, .luxury {
//   color: #ffead0;
// }

.vans {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .van-image {
    display: flex;
    flex-direction: column;

    .van-name {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
  p {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    // font-size: 1.25em;
  }
}

.category-button {
  border: none;
  padding: 6px 12px;
  user-select: none;
  border-radius: 5px;
  font-weight: 600;
  color: #ffead0;
}

.van-details-section {
  padding: 20px;
  margin-top: 10px;

  .van-details-image {
    margin-top: 30px;
    img {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 40px;
    }
  }

  .van-details-description {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 2em;
      font-weight: 700;
      margin-block: 25px;
    }

    .price {
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    .category-button {
      text-transform: capitalize;
      width: fit-content;
    }

    .button {
      margin-top: 20px;
      font-size: 1.125rem;
      border: none;
      font-weight: 700;
    }
  }
}

footer {
  background-color: #252525;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  color: #aaaaaa;
  padding: 36px 26px;
  text-align: center;
}

.killy {
  font-family: 'VitrinesW00-Bold', system-ui, -apple-system;
}

.simple {
  background-color: #e17654;
}

.rugged {
  background-color: #115e59;
}

.luxury {
  background-color: #161616;
}
