.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


.login-form {
  margin-top: 5rem;
  padding: 20px;

  span a {
    color: $buttonOrange;
  }
}

  button {
    margin-block: 2rem;
    border: none;
    cursor: pointer;
  }

  .form-input{
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      border: 1px #eee solid;
      padding: 10px;
      border-radius: 5px;
    }
  }
}