.vans-section {
  padding: 20px;
  min-height: 100vh;
}

.category {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 2em;
    font-weight: 700;
    margin-block: 25px;
    align-self: center;
  }
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    gap: 20px;
    li {
      background-color: #ffead0;
      // padding: 6px 25px;
      padding: 6px 12px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s;
      user-select: none;
    }
    .simple:hover, .simple.selected {
      background-color: #e17654;
      color: #ffead0;
    }
    .luxury:hover, .luxury.selected {
      background-color: #161616;
      color: #ffead0;
    }
    .rugged:hover, .rugged.selected {
      background-color: #115e59;
      color: #ffead0;
    }
  }
  small {
    text-decoration: underline;
    margin-bottom: 6px;
    align-self: flex-end;
    cursor: pointer;
  }
}

// .simple, .rugged, .luxury {
//   color: #ffead0;
// }

.vans {
  margin-top: 50px;
  display: grid;
  gap: 20px;

  .van-image {
    display: flex;
    flex-direction: column;

    .van-name {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
  p {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    // font-size: 1.25em;
  }
}

@media only screen and (min-width: 450px) {
  .vans {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .van {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .category-button {
      // width: 250px;
      padding: 10px;
      font-size: 1.25rem;
    }
  }

  .vans {
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    .van-image {
      width: 100%;
    }
  }
}
